<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
        app.settings.asideFolded = false;
        app.settings.asideDock = false;
     ">
    <!-- main -->
    <div class="col" data-ng-controller="carParkCtrl" data-ng-init="loadLatestEntries()">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Wroclaw Smart City</h1>
                    <small class="text-muted">Strona prezentuje dane udostepniane w ramach Wroclaw Smart City</small>
                </div>
            </div>
        </div>
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <small class="text-muted">Nastepne odswiezenie danych o {{updateTime}}</small>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- stats -->
            <div class="row">
                <div data-ng-repeat="latestEntry in latestEntries">
                    <div class="col-lg-4">
                    <div class="panel panel-default" data-ng-show="loading">
                        <center><i class="fa fa-spin fa-spinner"></i></center>
                    </div>
                    <div class="panel panel-{{latestEntry.carParkLoad.color}}" data-ng-show="!loading">
                        <div class="panel-heading font-bold">
                            <span ng-if="latestEntry.readTime.outDated"><i class="fa fa-{{latestEntry.carParkLoad.color}}" style="color:{{latestEntry.carParkLoad.color}}"></i></span> {{latestEntry.carPark.name}}
                        </div>
                        <div class="panel-body text-center">
                            <h4>{{latestEntry.freePlaceAmount}}<small> wolnych miejsc</small></h4>
                            <small class="text-muted block">Trend: <span ng-if="latestEntry.trend.value === 0">bez zmian</span><span ng-if="latestEntry.trend.value !== 0"><i class="fa {{latestEntry.trend.icon}}" style="color:{{latestEntry.trend.color}}"></i> {{latestEntry.trend.value}} {{latestEntry.trend.text}}</span></small>
                            <div class="inline">
                                <div ui-jq="easyPieChart"  ui-options="{
                                     percent: '{{latestEntry.carParkLoad.value}}',
                                     lineWidth: 10,
                                     trackColor: '{{app.color.light}}',
                                     barColor: '{{latestEntry.carParkLoad.chartColor}}',
                                     scaleColor: '{{app.color.light}}',
                                     size: 188,
                                     lineCap: 'butt',
                                     animate: 1000
                                     }">
                                    <div>
                                        <span class="h2 m-l-sm step">{{latestEntry.carParkLoad.value}}</span>%
                                        <div class="text text-sm">zajętości</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer"><small>Odczytano: {{latestEntry.readTime.useDate ? (latestEntry.readTime.value | date: 'HH:mm:ss dd-MM-yyyy') : latestEntry.readTime.value}} </small></div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- / stats -->
        </div>
    </div>
    <!-- / main -->
</div>
